html, body{
	background: #5EAF39;
}
:local(.contactInputs){
	display:inline-block;
	padding-right: 10px;
	padding-top: 20px;
}


:local(.card) {
	text-align: center;
    background-color: #EDF5E1;
    /* just in case there no content*/
    padding: 1px 25px 30px !important;
    font-family: "Raleway";
    margin: 0 auto 25px;
    margin-top: 15% !important;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    max-width: 700px !important;
}

:local(.fileInput){
	text-align: center;
	padding-left: 35%;
	padding-top: 10px;
}



:local(button){
	border: none;
  outline: none;
  background-color: #093A69;
  letter-spacing: 1px;
  color: white;
  font-weight: normal;
  width: 70%;
  max-width: 200px;
  max-height: 20px;
  position: relative;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 1em;
  text-align: center;
  padding: 1.0em 1.7em 2em;
};